<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.namxjung.startproject">

	<!-- selectAll은 해당하는 NUM값에 따른 데이터 전체 출력 -->
	<select id="selectAll"
		resultType="org.namxjung.startproject.persistence.TestVo">
		SELECT * FROM STORE
	</select>

	<select id="selectOne" parameterType="Integer"
		resultType="org.namxjung.startproject.persistence.TestVo">
		SELECT name, address, phone, menu, time, etc, count,
		picture FROM store WHERE store_num = #{store_num,jdbcType=VARCHAR}
	</select>


	<!-- =================================================== -->
	<!-- 리뷰 테이블 부분 -->
	<resultMap type="org.namxjung.startproject.persistence.ReviewVo" id="ReviewMap">
		<id column="id" property="id" />
		<id column="star" property="star" />
		<id column="content" property="content" />
		<id column="regdate" property="regdate" />
		<id column="picture" property="picture" />
	</resultMap>

	<select id="selectReviews" parameterType = "Integer" resultMap="ReviewMap">
		SELECT id, star, content, regdate, picture FROM review WHERE store_num =
		#{store_num,jdbcType=VARCHAR}
	</select>

</mapper>